@use "./base.scss";

// put your custom CSS here!

// Sidebar Recent Notes styling
.left.sidebar .recent-notes,
.right.sidebar .recent-notes {
    &>ul.recent-ul {
        &>li {
            .section>.desc>h3 {
                &>a {
                    font-size: 1rem;
                    color: var(--dark);
                    opacity: .75;

                    &:hover {
                        opacity: 1;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}